/* ここからタブレットサイズのcss */
@media (min-width: 768px) {
  /* header */
  .header_flex img {
    width: 60%;
    margin-left: 10%;
}
  .openbtn{
    width:100px;
  }
  .openbtn span:nth-of-type(1) {
    top: 13px;
  }
  
  .openbtn span:nth-of-type(2) {
    top: 26px;
  }
  
  .openbtn span:nth-of-type(3) {
    top: 40px;
  }
  
  .openbtn span:nth-of-type(3)::after {
    top: 10px;
    font-size: 0.9rem;
  }
  .openbtn_nav_list a {
    font-size: 1.5em;
    line-height: 60px;
  }
  /* news */
  .news_table {
    margin: 3% auto;
    font-size: 1.5em;
  }
  #news{
    margin-top: 5%;
    margin-bottom: 5%;
}
  /* greeting */
  #greeting{
    margin: 10%;
  }
  .greeting_wrapper{
    display: flex;
  }
  .greeting_wrapper img{
    margin-left: 10%;
  }

  /* about */
  #about h3 {
    font-size: 1em;
  }
  .about_wrapper{
    display: flex;
    justify-content: space-around;
    margin: 5%;

  }
  .about_content{
    width:30%;
  }
  /* medical menu */
  .menu_content{
    width:25%;
  }
  /* access */
  .access_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 5%;
  }
  /* footer */
  .footer_information {
    top: 60%;
    left: 5%;
}


  .footer_information{
    display: flex;
    justify-content: center;
    gap:30px;
  }
}

/* ここからPCサイズ */
@media (min-width: 1024px) {
  header{
    display: flex;
    align-items: center;
  }
  .header_flex img {
    margin-left: 0;
    margin-top: 3%;
    width:75%;
    height:75%;
  }
  .menu_opener{
    display: none;
  }
  .pc_header{
    display: block;
  }
  .pc_header ul{
    width:100%;
    display: flex;
    z-index: 999;
  }
  .pc_header li{
    width:150px;
  }
  .pc_header li a{
    font-size: 1.3em;
    text-align: center;
  }
  .pc_header li a:hover{
    color:silver;
  }
  
  .pc_flex,
  .pc_flex_call,
  .pc_flex_mail{
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .call_icon,.mail_icon{
    width:30px;
    height: 30px;
  }
  .pc_flex_mail{
    margin-left: 3%;
    margin-right: 3%;
  }
  .pc_flex_call,
  .pc_flex_mail{
    background-color: aqua;
    width:150px
  }

  #slider{
    height:100vh;
  }
  /* footer直前photoループ */
  .loop_wrapmob{
    display: none;
  }
  .loop_wrap {
    display: block;
    display: flex;
    width: 100vw;
    height: 200px;
    overflow: hidden;
  }
  .loop_wrap img {
    width: auto;
    height: 100%;
  }
  @keyframes loop {
    0% {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes loop2 {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200%);
    }
  }
  .loop_wrap img:first-child {
    animation: loop 50s -25s linear infinite;
  }

  .loop_wrap img:last-child {
    animation: loop2 50s linear infinite;
  }
}
  /* access */
  .access_map{
    display: none;
  }
  .pc_access_map{
    display:block;
  }